@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.container {
    background: url(images.jpg);
    border-radius: 15%;
}

.calculator {
    border: 5px solid #717377;
    padding: 20px;
    border-radius: 15%;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: #000;
    border-radius: 30%;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ff0000;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgb(0, 100, 50);
    color: #e7b36e;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
i{
    color: #000;
    font-size: 25px;
}
button.glow {
    color: #fff;
}

button.active.glow.operator {
    background-color: #f44336; /* Red background for operators */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8); /* Red glow */
}

button.active.glow.equalBtn {
    background-color: #4caf50; /* Green background for equals */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); /* Green glow */
}

button.active.glow.clear {
    background-color: #2196f3; /* Blue background for clear */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); /* Blue glow */
}

button.active.glow.number {
    background-color: #ff9800; /* Orange background for numbers */
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.8); /* Orange glow */
}

button.active{
    /* Additional style when calculator is on */
    box-shadow: 0 0 25px rgba(0, 255, 255, 1); /* General active glow */
}

#toggle {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25%;
    cursor: pointer;
    font-size: 16px;
}
